
html, body {
    font-size: 16px;
    font-family: $font-family;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.content {
    width: 100%;
    max-width: $max-width;
    padding: 100px 50px;
    height: 100vh;
}

label, label {
    font-size: 0.8rem;
}

h2 {
font-size: 2rem;
margin-bottom: 1rem;
}